.brand-logo {
    background: $brand-logo no-repeat;
    background-size: contain;
}

.brand-logo-login {
    background: $brand-logo-login no-repeat;
    background-size: contain;
}

.brand-name {
    font-size: 0;
}
