@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Work Area</h1>
    </div>
    <div class="row">
        @Html.Action("GetBudgetEstimatedSpendForFY")
        @Html.Action("GetExpenditureDetail")       
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-hover-shadow-2x mb-3 card shadow">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-bold">
                        <i class="fa fa-tasks"></i>&nbsp;Due Task (2)
                    </div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-heading">
                                                    <span class="badge badge-danger">BRR</span> <div class="ml-2 pull-right"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; 4  Jun  2020</div>
                                                </div>
                                                <div class="widget-content-left pt-2">
                                                    <div class="widget-heading">
                                                        Call Sam For payments <div class="badge badge-pill badge-info ml-2">NEW</div>
                                                    </div>
                                                    <div class="widget-subheading pt-2">
                                                        <img src="~/Images/users/avatar-1.jpg" alt="user-img" style="height:1.5rem; width:1.5rem" class="rounded-circle mr-1" />
                                                        <span class="align-middle">Pankaj Papnoi</span>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <button class="border-0 btn-transition btn btn-outline-success">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="border-0 btn-transition btn btn-outline-danger btn-sm">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-heading">
                                                    <span class="badge badge-danger">BRR</span> <div class="ml-2 pull-right"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; 4  Jun  2020</div>
                                                </div>
                                                <div class="widget-content-left pt-2">
                                                    <div class="widget-heading">
                                                        Call Sam For payments <div class="badge badge-pill badge-info ml-2">NEW</div>
                                                    </div>
                                                    <div class="widget-subheading pt-2">
                                                        <img src="~/Images/users/avatar-2.jpg" alt="user-img" style="height:1.5rem; width:1.5rem" class="rounded-circle mr-1" />
                                                        <span class="align-middle">Pankaj Papnoi</span>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <button class="border-0 btn-transition btn btn-outline-success">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="border-0 btn-transition btn btn-outline-danger btn-sm">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-hover-shadow-2x mb-3 card shadow">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-bold">
                        <i class="fa fa-tasks">
                        </i>&nbsp;Submitted For Review (2)
                    </div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-heading">
                                                    <span class="badge badge-danger">BRR</span> <div class="ml-2 pull-right"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; 4  Jun  2020</div>
                                                </div>
                                                <div class="widget-content-left pt-2">
                                                    <div class="widget-heading">
                                                        Call Sam For payments <div class="badge badge-pill badge-warning ml-2">REVIEW</div>
                                                    </div>
                                                    <div class="widget-subheading pt-2">
                                                        <img src="~/Images/users/avatar-3.jpg" alt="user-img" style="height:1.5rem; width:1.5rem" class="rounded-circle mr-1" />
                                                        <span class="align-middle">Pankaj Papnoi</span>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <button class="border-0 btn-transition btn btn-outline-success">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="border-0 btn-transition btn btn-outline-danger btn-sm">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-heading">
                                                    <span class="badge badge-danger">BRR</span> <div class="ml-2 pull-right"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; 4  Jun  2020</div>
                                                </div>
                                                <div class="widget-content-left pt-2">
                                                    <div class="widget-heading">
                                                        Call Sam For payments <div class="badge badge-pill badge-warning ml-2">REVIEW</div>
                                                    </div>
                                                    <div class="widget-subheading pt-2">
                                                        <img src="~/Images/users/avatar-4.jpg" alt="user-img" style="height:1.5rem; width:1.5rem" class="rounded-circle mr-1" />
                                                        <span class="align-middle">Pankaj Papnoi</span>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <button class="border-0 btn-transition btn btn-outline-success">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="border-0 btn-transition btn btn-outline-danger btn-sm">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-hover-shadow-2x mb-3 card shadow">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-bold"><i class="fa fa-tasks"></i>&nbsp;Completed (2)</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-heading">
                                                    <span class="badge badge-danger">BRR</span> <div class="ml-2 pull-right"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; 4  Jun  2020</div>
                                                </div>
                                                <div class="widget-content-left pt-2">
                                                    <div class="widget-heading">
                                                        Call Sam For payments <div class="badge badge-pill badge-success ml-2">COMPLETED </div>
                                                    </div>
                                                    <div class="widget-subheading pt-2">
                                                        <img src="~/Images/users/avatar-5.jpg" alt="user-img" style="height:1.5rem; width:1.5rem" class="rounded-circle mr-1" />
                                                        <span class="align-middle">Pankaj Papnoi</span>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <button class="border-0 btn-transition btn btn-outline-success">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="border-0 btn-transition btn btn-outline-danger btn-sm">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-heading">
                                                    <span class="badge badge-danger">BRR</span> <div class="ml-2 pull-right"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; 4  Jun  2020</div>
                                                </div>
                                                <div class="widget-content-left pt-2">
                                                    <div class="widget-heading">
                                                        Call Sam For payments <div class="badge badge-pill badge-success ml-2">COMPLETED </div>
                                                    </div>
                                                    <div class="widget-subheading pt-2">
                                                        <img src="~/Images/users/avatar-6.jpg" alt="user-img" style="height:1.5rem; width:1.5rem" class="rounded-circle mr-1" />
                                                        <span class="align-middle">Pankaj Papnoi</span>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <button class="border-0 btn-transition btn btn-outline-success">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="border-0 btn-transition btn btn-outline-danger btn-sm">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
   
}